figure {
  margin: 0;
  line-height: 0;
}

html,
body {
  font-weight: 500;
}


.Home {
  display:block;
  padding: 2rem 0;
}

.housesContainer {
  display:block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.headlineSection {
  margin-bottom: 2rem;
}

.categories {
  color: #F59E0B;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;

  &:before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #F59E0B;
    position: absolute;
    left: -.5rem;
    top: 5px;
    transform: translateX(-100%);
  }
}

.headline {
  font-size: 2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}